
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@300;400;500;600;700&family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:width none;
    transition: all .2s linear;
}

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

.header .header1{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header1 .logo{
    color: var(--green);
}

.header  .header1 .searchform{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header  .header1 .searchform input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height:100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header  .header1 .searchform label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header  .header1 .searchform label:hover{
    color: var(--green);
}

.header  .header1 .icons div , .header  .header1 a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header  .header1 .icons div:hover , .header  .header1 a:hover{
    color: var(--green);
}

#searchbtn{
    display:none ;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: white;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background: var(--dark-color);
}

.header .header2{
    background: var(--green);
}

.header .header2 .navbar{
    text-align: center;
 

}

.header .header2 .navbar a{
   color: white;
   display: inline-block;
   padding: 1.2rem;
   font-size: 1.7rem;
}

.header .header2 .navbar a:hover{
    background: var(--dark-color);
}

body{
    height: 300rem;
}

.header .header2 .active{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.bottomnavbar{
    text-align: center;
    background: var(--green);
    position: fixed;
    left: 0; bottom: 0; right: 0;
    z-index: 10000;   
    display: none; 
}

.bottomnavbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: white;
}

.bottomnavbar a:hover{
    background: var(--dark-color);
}

section{
    padding: 5rem 9%;
}

.home{
    background-color: #eeeeee;
    background-size: cover;
    background-position: center;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content{
    flex:1 1 42rem;
}

.home .row .bookslider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}


.home .row .bookslider a img{
    height: 25rem;
} 

.home .row .bookslider a:hover img{
    transform: scale(.9);
} 

.home .row .bookslider .stand{
    width: 100%;
    margin-top: -2rem;
} 

.home .row .content h3{
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 0;
}

.loginformcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.loginformcontainer .act{
    right: 50%;
}

.loginformcontainer form{
    background-color: #fff;
    border:var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.loginformcontainer form h3{
    padding-bottom: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;

}

.loginformcontainer form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.loginformcontainer form .box{
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
    width: 100%;

}

.loginformcontainer form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
    
}
.loginformcontainer form .checkbox label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.loginformcontainer form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.loginformcontainer form p{
    padding-top:.8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.loginformcontainer form p a{
    color: var(--green);
    text-decoration: underline;
}

.loginformcontainer #closeloginbutton{
    position:absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

.iconcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(25rem , 1fr));
    gap: 1.5rem;
}

.iconcontainer .icons{
    display: flex;
    align-items: center;

    gap: 1.5rem;
    padding: 2rem 0;
}

.iconcontainer .icon i{
    font-size: 3.5rem;
    color:var(--green);
}

.iconcontainer .icon h3{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.iconcontainer .icon p{
    font-size: 1.4rem;
    color: var(--light-color);

}

.heading{
    text-align: center;
    margin-bottom:2rem ;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0,0,0,.1);
    z-index:-1;

}

.heading span{
    font-size: 3rem;
    padding: .5rem 2rem ;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.featured .featuredslider .box{
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;

}

.featured .featuredslider .box:hover{
    border: var(--border-hover);

}

.featured .featuredslider .box .images{
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featuredslider .box:hover .images{
    transform: translateY(6rem);
}

.featured .featuredslider .box .images img{
    height: 25rem;
}


.featured .featuredslider .box .icon{
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0; left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featuredslider .box:hover .icon{
    transform: translateY(0%); 
}

.featured .featuredslider .box .icon a{
    color: var(--black);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}


.featured .featuredslider .box .icon a:hover{
    background: var(--green);
    color: #fff;

}

.featured .featuredslider .box .content{
    background: #eee;
    padding: 1.5rem;

}

.featured .featuredslider .box .content h3{
   font-size: 2rem;
color: var(--black);

}

.featured .featuredslider .box .content .price{
    font-size: 2.2rem;
    padding-top: 1rem;
    color: var(--black);

}
   
.featured .featuredslider .box .content span{
    font-size: 1.5rem;
    padding-top: 1rem;
    color: var(--light-color);
    text-decoration: line-through;
    
}

.swiper-button-next, .swiper-button-prev{
    border: var(--border);
    height: 4rem;
    width: 4rem;
    color: var(--black);
    background: #fff;

}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 2rem;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    background: var(--black);
    color: #fff;

}












@media (max-width:991px){
    html{
        font-size:55%;
    }

    .header .header1{
        padding: 2rem;
    }

    section{
        padding: 3rem 2rem;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }

    .home .row .content {
        text-align: center;
    }
    
}

@media (max-width:450px){
    html{
        font-size:50%;
    }

}

@media (max-width:768px){
    
    html{
        scroll-padding-top: 0;   
    }
    body{
        padding-bottom: 6rem;
    }
    .header .header2{
        display: none;
    }

    .header .header1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header2 .searchform{
        position: absolute;
        top: -115%; right: 2rem;
        width:90%;
        box-shadow: var(--box-shadow);
    }

    .header .header1 .searchform.active{
        top: 115%;
    }
    #searchbtn{
        display:inline-block ;
    }

    .bottomnavbar{
        display: block;
    }

}